{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Mot de passe oublié{% endblock %}
{% block h1 %}{{ parent() }} Mot de passe oublié{% endblock %}

{% block body %}

    <div>
        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'attr' : {'class' : 'form-control'}}) }}
        </div>

        <div>
            {{ form_widget(form.save, {'attr' : {'class' : 'btn btn-primary'}}) }}
            <a class="backlink" href="{{ path('home') }}">Se connecter</a>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}