{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ member.fullname }}{% endblock %}
{% block h1 %}{{ member.firstname }}
    <span class="badge badge-primary">{{ ideas|length }}</span>
    <p class="float-right"><a href="{{ path('idea_new', {'member_id': member.id}) }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i>&nbsp;Ajouter une idée pour {{ member.firstname }}</a></p>
{% endblock %}

{% block body %}


<div class="listeCadeau">
    {% for idea in ideas %}
        <div class="card">
            <div class="card-body">
                <p class="text-muted float-right">
                    <small>
                        {% if idea.memberAdding %}
                            <span title="Ajoutée par {{ idea.memberAdding.firstname }}"><i class="fas fa-user-plus"></i>&nbsp;{{ idea.memberAdding.firstname }}</span>&nbsp;
                        {% endif %}
                        <span title="Ajoutée le {{ idea.date|date("d/m/Y") }}"><i class="fas fa-calendar-alt"></i>&nbsp;{{ idea.date|date("d/m/Y") }}</span>
                    </small>
                </p>

                <h5 class="card-title">
                    <img class="cadeau" src="{{ asset('images/cadeau.png') }}" alt="">
                    <a href="{{ path('idea_show', {'id' : idea.id}) }}">{{ idea.title }}</a>
                </h5>

                {% if idea.description %}
                <p class="card-text">{{ idea.description|nl2br }}</p>
                {% endif %}

                {% if idea.link %}
                <p><a target="_blank" href="{{ idea.link }}" title="{{ idea.link }}" class="card-link external">{{ idea.link[:30] }} {% if idea.link|length > 30 %} [...]{% endif %}</a></p>
                {% endif %}

                <p class="card-text">
                    {% if idea.state == 0 %}
                        {# Disponible #}
                        <a href="{{ path('idea_state_update_to_take', {'id': idea.id, 'member_id': idea.member.id}) }}"><button type="button" class="btn btn-primary btn-sm"><i class="fas fa-cart-arrow-down"></i>&nbsp;Placer dans ma hotte</button></a>
                    {% elseif idea.state == 1 %}
                        {# En cours #}
                        {% if idea.memberTaking.id == app.user.id %}
                            <a href="{{ path('idea_state_update_taken', {'id': idea.id, 'member_id': idea.member.id}) }}"><button type="button" class="btn btn-primary btn-sm">J'ai pris</button></a>
                            <a href="{{ path('idea_state_cancel_to_take', {'id': idea.id, 'member_id': idea.member.id}) }}"><button type="button" class="btn btn-primary btn-sm">Finalement non</button></a>
                        {% else %}
                            <button type="button" class="btn btn-primary btn-sm" disabled><i class="fas fa-lock"></i>&nbsp;Dans la hotte d'un autre membre</button>
                        {% endif %}
                    {% elseif idea.state == 2 %}
                        {# Prise #}
                        <button type="button" class="btn btn-primary btn-sm" disabled>
                            <i class="fas fa-lock"></i>&nbsp;Achetée {% if idea.memberTaking.id != app.user.id %}par un autre membre{% else %}par vous{% endif %}
                            {% if idea.memberTaking.id == app.user.id %}
                                <a href="{{ path('idea_state_cancel_to_take', {'id': idea.id, 'member_id': idea.member.id}) }}" class="badge badge-danger">Annuler</a>
                            {% endif %}
                        </button>
                    {% endif %}

                    <a href="{{ path('idea_show', {'id' : idea.id}) }}">
                        <button type="button" class="btn btn-info btn-sm" title="{% if idea.comments|length == 0 %}Commenter{% endif %}">
                            <i class="fas fa-comments"></i>&nbsp;{% if idea.comments|length == 0 %}Commenter{% endif %}
                            {% if idea.comments|length %}
                                &nbsp;<span class="badge badge-light">{{ idea.comments|length }}</span>
                            {% endif %}
                        </button>
                    </a>

                    {% if (idea.memberAdding.id is defined) and (idea.memberAdding.id == app.user.id) %}
                        <a href="{{ path('idea_update', {'id': idea.id}) }}" title="Modifier"><button type="button" class="btn btn-info btn-sm"><i class="fas fa-pencil-alt"></i></button></a>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#idea_delete{{ idea.id }}" title="Supprimer"><i class="fas fa-trash-alt"></i></button>
                        <!-- Modal -->
                        {{  include('inc/modal.html.twig', {'id_modal' : 'idea_delete' ~ idea.id,'title' : 'Supprimer cette idée', 'route' : path('idea_delete', {'id': idea.id})}) }}
                    {% endif %}
                </p>
            </div>
        </div>
    {% endfor %}

</div>

<br><br>
<div class="card card-help">
    <div class="card-header"><i class="fas fa-info-circle"></i>&nbsp;Aide</div>
    <div class="card-body">
        <ul>
            <li>Cliquez sur <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-cart-arrow-down"></i>&nbsp;Je prends</button> pour indiquer que vous comptez prendre le cadeau.</li>
            <li>Cliquez sur <button type="button" class="btn btn-primary btn-sm">J'ai pris</button> pour indiquer que vous avez pris le cadeau.</li>
            <li>Cliquez sur <button type="button" class="btn btn-primary btn-sm">Finalement non</button> pour indiquer que vous ne prenez plus le cadeau.</li>
            <li><button type="button" class="btn btn-primary btn-sm" disabled><i class="fas fa-lock"></i></button> indique qu'un autre membre s'occupe de ce cadeau.</li>
        </ul>
    </div>
</div>
{% endblock %}

