{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ idea.title }}{% endblock %}
{% block h1 %}{{ idea.title }}{% endblock %}

{% block body %}

    <div>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title, {'attr' : {'class' : 'form-control', 'placeholder' : 'Nom de l\'idée'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description, {'attr' : {'class' : 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.link) }}
            {{ form_errors(form.link) }}
            <div class="input-group mb-3">
                {{ form_widget(form.link, {'attr' : {'class' : 'form-control', 'placeholder' : 'Lien vers une page d\'exemple'}}) }}
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"><a target="_blank" href="{{ idea.link }}">Voir</a></span>
                </div>
            </div>
        </div>

        <div>
            {{ form_widget(form.save, {'label' : 'Modifier', 'attr' : {'class' : 'btn btn-primary'}}) }}
            <a class="backlink" href="#" onclick="window.history.back();">Retour</a>
        </div>
        {{ form_end(form) }}

        {% if idea.comments|length %}
        <div class="jumbotron">
            <h3>Commentaires</h3>
            <div class="list-group">
                {% for comment in idea.comments %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <p>
                            <b>{{ comment.member.firstname }}</b> - Le {{ comment.date|date("d/m/Y à H:i") }}
                            {% if app.user.id == comment.member.id %}<a href="{{ path('comment_delete', {'id' : comment.id}) }}" class="badge badge-danger">Supprimer</a>{% endif %}
                        </p>
                        <p>{{ comment.content|nl2br }}</p>
                    </div>
                {% endfor %}
            </div>
            <br>

            <h4>Répondre {% if idea.comments|length == 0 %}Commenter{% elseif idea.comments|length == 1 %}Commentaire{% elseif idea.comments|length > 1 %}Commentaires{% endif %}</h4>
            {{ form_start(formComment) }}
            <div class="form-group">
                {{ form_label(formComment.content) }}
                {{ form_errors(formComment.content) }}
                {{ form_widget(formComment.content, {'attr' : {'class' : 'form-control'}}) }}
            </div>

            <div>
                {{ form_widget(formComment.save, {'attr' : {'class' : 'btn btn-primary'}}) }}
            </div>
            {{ form_end(formComment) }}
        </div>
        {% endif %}
    </div>
{% endblock %}
