<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Ma lettre au père Noël | {% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap CSS -->
            <link href="{{ asset('css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/fontawesome/css/all.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/main.css') }}" rel="stylesheet">
        {% endblock %}

        <link rel="icon" type="image/png" href="{{ asset('images/logo.png') }}">
    </head>
    <body class="{% if app.user %}connected{% endif %} {% block body_class %}{% endblock %}">

        {{ include('layout/header.html.twig') }}

        {# Begin page content #}
        <main role="main" class="container">

            <div class="row">
                <div class="col-12">

                    {% include 'inc/breadcrumb.html.twig' %}

                    <h1>{% block h1 %}{% endblock %}</h1>

                    {% include 'inc/flash.html.twig' %}

                    {% block body %}{% endblock %}
                </div>
            </div>

        </main>

        {{ include('layout/footer.html.twig') }}

        {% if not app.request.cookies.get('hideModalIntroduction') %}
            {{ include('inc/modalIntroduction.html.twig') }}
        {% endif %}

        {{  include('inc/modalFamilies.html.twig') }}

        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/mlpn.js') }}"></script>
            <script>
                $(document).ready(function() {
                    mlpn.init();
                });
            </script>
        {% endblock %}
    </body>
</html>
